<ul id="links">
    <li><a href="/">Home</a></li>
    <li><a href="languages">Programming Languages</a> </li>
    <li><a class="active" href="about">About</a></li>
</ul>
<div style="margin-left: 16%">
    <div> <h1 style="color: white; font-family: fantasy; color: aqua">My life starts with : </h1>
        <img src="images/programming-techworldbd.jpg">
    </div>
    <h3 style="color: white; float: left;">"And I am Programmer!"</h3>
</div>