<ul id="links">
    <li><a class="active" href="/">Home</a></li>
    <li><a href="languages">Programming Languages</a> </li>
    <li><a href="about">About</a></li>
</ul>
<div style="margin-left: 16%">
    <h1 style="color: greenyellow">This is the home page</h1>
    <h3 style="color: white">My Name: Dhruvik Patel</h3>
    <h3 style="color: white;">Student Number: 3090163</h3>
    <center><img src="/images/programming.png" height="300px" width="600px"><h1 style="font-family: cursive; color: aqua">
        "Welcome to the JavaScript world !!"</h1></center>
</div>