<script src="/scripting/randomScript.js"></script>
<ul id="links">
    <li><a href="/">Home</a></li>
    <li><a class="active" href="languages">Programming Languages</a></li>
    <li><a href="about">About</a></li>
</ul>
<div style="margin-left: 16%">
        <p style="color: aquamarine; font-size: 18px">wait for some time!</p>
        <h3 id="randomCall" style="color: #4CAF50;"></h3>
    <div style="margin-top: 2%">
    <p style="color: red; font-size: 20px">Here are the statistics of the widely used programming languages</p>
    <center><img src="/images/languages_chart1.png" height="450px" width="600px"></center>
    <p style="color: ghostwhite">Programming Language Statistics links (Among popular)</p>
    <div>
        <p><a href="https://www.tiobe.com/tiobe-index/" style="color: coral">Tiobe</a></p>
        <p><a href="https://hackernoon.com/top-10-programming-languages-in-2017-2f22e918fbfd" style="color: coral;">Hackermoon</a></p>
        <p><a href="https://simpleprogrammer.com/top-10-programming-languages-learn-2018-javascript-c-python/" style="color: coral">Simple Programmer</a> </p>
        <p><a href="http://www.codingdojo.com/blog/9-most-in-demand-programming-languages-of-2017/" style="color: coral">coding Dojo</a></p>
        <p><a href="https://fossbytes.com/most-used-popular-programming-languages/" style="color: coral">Fosssbytes</a></p>
    </div>
    </div>
</div>